{% extends 'layouts/main.html' %}
{% block title %}{{ user.username }} | User {% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ user.username }}
			</h1>
			<p class="ID">
				ID: {{ user.id }}
			</p>
			<p class="subtitle">
				Favorite Vendors: {{ user.favorites }}
			</p>
			</div>
</div>

<section>
	<h2 class="monospace">Recommended Vendors From Favorites</h2>
	<div class="item">
		{%for record in user.recs %}
		<p class="item">
			Name: {{ record.vendor.name}} <br>
			Recommendation Score: {{record.count}} 
		</p>
		{% endfor %}
	</div>
</section>

			


			<h5><a href="/users/delete/{{ user.id }}"> Delete: {{ user.username }}</a></h5>
			<h5><a href="/users/{{ user.id }}/rewards"> Rewards For: {{ user.username }}</a></h5>
			<h5><a href="/users/{{ user.id }}/add_favorites"> Add vendor to favorites for: {{ user.username }}</a></h5>
			<h5><a href="/users/{{ user.id }}/delete_favorites"> Remove vendor from favorites for: {{ user.username }}</a></h5>




{% endblock %}
